.menu-bar{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    width: 28px;
    height: 20px;
    z-index: 1;
    @include transition-ease;

    &__burger{
        position: absolute;
        top: .5rem;
        right:0;
        width: 28px;
        height: 3px;
        background : $text-color;
        @include transition-ease;

        &::before{
            content: '';
            position: absolute;
            top: -8px;
            right:0;
            width: 28px;
            height: 3px;
            background : $text-color;
            @include transition-ease;
        }
        &::after{
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background : $text-color;
            @include transition-ease;
        }
        &.open{
            transform: rotate(360deg);
            background: transparent;
            &::before{
                transform: rotate(45deg) translate(5px , 8px);
            }
            &::after{
                width: 28px;
                transform: rotate(-45deg) translate(3px , -7px);
            }
        }
    }
}